<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>new_file</title>
	<meta name="author" content="sepdau" />
	<!-- Date: 2012-03-31 -->
	<script src=jquery-1.7.2.min.js>
		
	</script>
<script>
	$(document).click(function(){
			$("h2").hide("slow");
			});
</script></head>
<body>
<h2> Hello World</h2>
</body>
</html>

